In [33]:
import pandas as pd
import numpy as np

In [34]:
numeros = [155, 62, 95, 13, 5]

In [35]:
serie_numero = pd.Series(numeros)
print(serie_numero)

0    155
1     62
2     95
3     13
4      5
dtype: int64

In [36]:
print(serie_numero[0])

155

In [37]:
media = np.mean(serie_numero)
print(media)

66.0

In [38]:
serie_numero[0] = serie_numero[0] - 100
print(serie_numero[0])

55

In [39]:
notas = {"Wesley": 10, "Roberta": 9, "Valquiria": 7.5}
serie_notas = pd.Series(notas)
print(serie_notas)

Wesley       10.0
Roberta       9.0
Valquiria     7.5
dtype: float64

In [40]:
print(serie_notas["Wesley"])

10.0

In [41]:
#Adicionando um autor, livro e preço

dicionario = {"Autores": ["alt_1", "alt_2", "alt_3", "alt_4"],
              "Livros": ["duna_1", "duna_2", "duna_3", "duna_4"],
              "Preço": [25,40,100,200]
             }
df = pd.DataFrame(dicionario)
df.describe()
df

  Autores  Livros  Preço
0   alt_1  duna_1     25
1   alt_2  duna_2     40
2   alt_3  duna_3    100
3   alt_4  duna_4    200

In [47]:
df["Autores"]

0    alt_1
1    alt_2
2    alt_3
3    alt_4
Name: Autores, dtype: object

In [48]:
df["Autores"][3]

'alt_4'

In [52]:

df = df.append({"Autores": alt_1, "Livros": duna_5, "Preço": 95}, ignore_index = True)

AttributeError: 'DataFrame' object has no attribute 'append'